* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.phone-wrapper {
    background-color: rgba(207, 207, 207, 0.9);

}

.container {
    width: 960px;
    margin: auto;
}

.phone {
    color: red;
    text-align: right;
    padding: 9px 0 9px 9px;
    font-size: 0.8rem;
}

.menu-wrapper {
    background-color: rgba(252, 252, 252, 0.9);
}

.top-wrapper {
    position: fixed;
    width: 100%;
    z-index: 999;
}

.title {
    font-weight: bold;
    float: left;
    padding-top: 20px;
    line-height: 1.4rem;
    font-size: 1.2rem;
    color: rgb(55, 55, 55);
}

.orange {
    color: #EC4A34;
    font-weight: bold;
}

.normal {
    font-weight: normal;
}

#service {
    font-weight: normal;
    font-size: 0.7rem;
}

.main-menu ul {
    text-align: right;
    width: 100%;
    margin: 0;
    padding-bottom: 27px;
    padding-top: 21px;
}

.main-menu li {
    display: inline-block;
    padding: 20px 0 20px 0;
    font-size: 0.8rem;

}

.main-menu a {
    text-decoration: none;
    color: black;
    padding: 20px 0 20px 20px;

}

.photo-wrapper {
    padding-top: 129px;
}

.photo  {
    background-image: url("https://static.wixstatic.com/media/5bfb6f_90c125e2391d488096d6d6996bf3d1e0.png/v1/fill/w_1920,h_680,al_c,q_85,usm_0.66_1.00_0.01/5bfb6f_90c125e2391d488096d6d6996bf3d1e0.png");
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
 /*   animation-name: photoSlide;
    animation-duration: 21s;
    animation-iteration-count: infinite;*/
}

/*@keyframes photoSlide {
    0% {background-image: url("https://static.wixstatic.com/media/5bfb6f_90c125e2391d488096d6d6996bf3d1e0.png/v1/fill/w_1920,h_680,al_c,q_85,usm_0.66_1.00_0.01/5bfb6f_90c125e2391d488096d6d6996bf3d1e0.png")}
    33.3% {background-image: url("https://static.wixstatic.com/media/5bfb6f_6c88ff4eb9044d8c82e62d775d3972d5.png/v1/fill/w_1920,h_680,al_c,q_85,usm_0.66_1.00_0.01/5bfb6f_6c88ff4eb9044d8c82e62d775d3972d5.png") }
    66.6% {background-image: url("https://static.wixstatic.com/media/5bfb6f_9cbbd63c1f6148c1a118403576b54a31.png/v1/fill/w_1920,h_680,al_c,q_85,usm_0.66_1.00_0.01/5bfb6f_9cbbd63c1f6148c1a118403576b54a31.png")}
} */

/*@keyframes dotOne {
    0% {color: orange}
    33.3% {color: white}
    66.6% {color: white}
}

@keyframes dotTwo {
    0% {color: white}
    33.3% {color: orange}
    66.6% {color: white}
}

@keyframes dotThree {
    0% {color: white}
    33.3% {color: white}
    66.6% {color: orange}
}

.dots .one {
    animation-name: dotOne;
    animation-duration: 21s;
    animation-iteration-count: infinite;
}

.dots .two {
    animation-name: dotTwo;
    animation-duration: 21s;
    animation-iteration-count: infinite;
}

.dots .three {
    animation-name: dotThree;
    animation-duration: 21s;
    animation-iteration-count: infinite;
}
*/
.dots {
    text-align: center;
    color: white;
}

.info-wrapper i.fa.fa-circle {
    font-size: 1.3rem;
    display: inline-block;
    padding: 10px 3px 50px 3px;

}

.orangeDots {
    font-size: 1.3rem;
    color: orange;
    display: inline-block;
    padding: 10px 3px 50px 3px;
}

.background {
    background-color: rgba(207, 207, 207, 0.5);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(50% - 200px);
    z-index: 1;
    min-width: 260px;
}

.info-wrapper {

    position: relative;
    z-index: 2;
}

.section-title--info {
    padding-top: 188px;
}

.info-size {
    width: 250px;
}

.info {
    padding-top: 69px;
    font-size: 0.9rem;
    line-height: 1.2rem;
}

.appointment-button {
    padding-top: 51px;
    padding-bottom: 235px;
}

.appointment {
    background-color: rgba(245, 106, 86, 1);
    border: 1px solid transparent;
    color: white;
    padding: 15px 20px;
    transition: 1s;
}

.appointment:hover {
    background-color: rgba(202, 41, 19, 1);
}

.service-wrapper {
    position: relative;
}

.service-info-wrapper {

    padding-top: 38px;
    padding-bottom: 93px;
}

.section-title--service {
    padding-top: 57px;
}

.services {
    display: inline-block;
    width: 671px;
    text-align: right;
}

.service {
    width: 220px;
    display: inline-block;
    word-wrap: break-word;
}

.service h1 {
    padding-top: 57px;
    font-size: 1.1rem;
    color: rgb(55, 55, 55);
}

.service p {
    padding-top: 30px;
    color: rgb(55, 55, 55);
}

.gt {
    display: inline-block;
    vertical-align: top;
    margin-right: 22px;
    color: #03A9F4;
    font-weight: bold;
    padding-top: 57px;
}

.gt-wrapper {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    padding-left: 66px;
    padding-right: 12px;
}

.about-clinic-wrapper {
    background-image: url("https://static.wixstatic.com/media/84770f_26b5d1b44900477d83db240758ae827c.png/v1/fill/w_1863,h_589,al_c,usm_0.66_1.00_0.01/84770f_26b5d1b44900477d83db240758ae827c.png");
    color: white;
    padding-top: 126px;
    padding-bottom: 120px;
}

.about-clinic-text-wrapper {
    display: inline-block;
    width: 671px;
}

.about-clinic-text p {
    font-size: 0.9rem;
    padding-bottom: 32px;
    padding-left: 60px;
    line-height: 1.3rem;
}

.contact-wrapper {
    position: relative;
    padding-top: 111px;
    padding-bottom: 141px;
    background-color: rgba(207, 207, 207, 0.5);
}

.contact-wrapper .background {
    background-color: white;
}

.form-message {
    display: inline-block;
}

.data {
    display: inline-block;
    vertical-align: top;
}

.send-button {
    text-align: right;
}

.section-title {
    width: 281px;
    vertical-align: top;
    font-weight: bold;
    font-size: 2.2rem;
    display: inline-block;
    position: relative;
    z-index: 2;
}

.details-wrapper {
    display: inline-block;
    width: 671px;

}

.address-wrapper {
    padding-bottom: 50px;
}

.address {
    border-right: 1px solid #c1baba;
    padding-left: 57px;
    padding-right: 47px;
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
}

.address-wrapper p {
    padding-bottom: 40px;
    line-height: 1.4rem;
}

.hours {
    padding-left: 62px;
    padding-right: 62px;
    font-weight: bold;
    display: inline-block;
}

.contact-wrapper h1 {
    padding: 30px 30px 30px 57px;
}

input[type="text"], input[type="email"] {
    padding: 6px 0 7px 6px;
    margin-bottom: 6px;
    border: transparent;
}

textarea {
    padding: 6px 11px 0 6px;
    margin-left: 2px;
    border: transparent;
}

.form-personal-details {
    padding-left: 57px;
}

.send-button .appointment {
    padding: 10px 12px;
}

#map {
    width: 597px;
    height: 197px;
    border: 2px solid white;
}

.map-wrapper {
    padding-left: 57px;
    padding-bottom: 76px;
}

footer {
    position: relative;
}

.bottom {
    text-align: center;
    background-color: rgb(0, 153, 255);
    color: white;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 2;
}

.bottom a {
    text-decoration: none;
    color: white;
}

.fa {
    display: block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 3.1rem;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.text {
    font-size: 1.2rem;
    padding-bottom: 10px;
}

.container--book-now {
    padding-top: 170px;
    padding-bottom: 100px;
}

.section-title--book-now {
    padding-bottom: 70px;
}

.offers-wrapper {
    text-align: right;
    padding-top: 64px;
    padding-bottom: 64px;
    border-top: 1px solid grey;
}

.offer {
    display: inline-block;
    float: left;
    font-size: 1.3rem;
    padding-top: 7px;
    color: rgb(0, 153, 255);
    cursor: pointer
}

.price {
    display: inline-block;

}

.appointment--book-now {
    display: inline-block;
    margin-left: 200px;
    font-size: 1.1rem;
    padding: 6px 20px;
}

.information {
    padding-bottom: 31px;
    padding-right: 149px;
    word-wrap: break-word;
    display: none;
}

.sign {
    display: inline-block;
}

.sign .fa {
    font-size: 1.7rem;
    opacity: 1;
}

.sign-up {
    transform: rotate(180deg);
}