* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    min-width: 960px;
}

/*main page*/
.phone-wrapper {
    background-color: rgba(207, 207, 207, 0.9);

}

.container {
    max-width: 960px;
    margin: auto;
}

.phone {
    color: red;
    text-align: right;
    padding: 9px 0 9px 9px;
    font-size: 0.8rem;
}

.menu-wrapper {
    background-color: rgba(252, 252, 252, 0.9);
}

.top-wrapper {
    position: fixed;
    width: 100%;
    z-index: 999;
}

.title {
    font-weight: bold;
    float: left;
    padding-top: 20px;
    line-height: 1.4rem;
    font-size: 1.2rem;
    color: rgb(55, 55, 55);
}

.orange {
    color: #EC4A34;
    font-weight: bold;
}

.normal {
    font-weight: normal;
}

#service {
    font-weight: normal;
    font-size: 0.7rem;
}

.main-menu ul {
    text-align: right;
    width: 100%;
    margin: 0;
    padding-bottom: 27px;
    padding-top: 21px;
}

.main-menu li {
    display: inline-block;
    padding: 20px 0 20px 0;
    font-size: 0.8rem;

}

.main-menu a {
    text-decoration: none;
    color: black;
    padding: 20px 0 20px 20px;
}

.title > a {
    padding: 0;
}

.photo-wrapper {
    padding-top: 129px;
}

.photo {
    position: relative;
}

.photo-orange-cat {
    background-image: url("https://static.wixstatic.com/media/5bfb6f_90c125e2391d488096d6d6996bf3d1e0.png/v1/fill/w_1920,h_680,al_c,q_85,usm_0.66_1.00_0.01/5bfb6f_90c125e2391d488096d6d6996bf3d1e0.png");
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-size: cover;
    opacity: 1;

}

.photo-grey-cat {
    background-image: url("https://static.wixstatic.com/media/5bfb6f_6c88ff4eb9044d8c82e62d775d3972d5.png/v1/fill/w_1920,h_680,al_c,q_85,usm_0.66_1.00_0.01/5bfb6f_6c88ff4eb9044d8c82e62d775d3972d5.png");
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-size: cover;
    opacity: 0;
}

.photo-dog {
    background-image: url("https://static.wixstatic.com/media/5bfb6f_9cbbd63c1f6148c1a118403576b54a31.png/v1/fill/w_1920,h_680,al_c,q_85,usm_0.66_1.00_0.01/5bfb6f_9cbbd63c1f6148c1a118403576b54a31.png");
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-size: cover;
    opacity: 0;
}

.dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-bottom: 30px;
    cursor: pointer;
}

.dot {
    height: 20px;
    width: 20px;
    margin: 0 2px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    z-index: 3;
    position: relative;

}

.active {
    background-color: orange;
}

.slide-active {
    opacity: 1;
}

.background {
    background-color: rgba(207, 207, 207, 0.5);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(50% - 200px);
    z-index: 1;
    min-width: 260px;
}

.info-wrapper {

    position: relative;
    z-index: 2;
}

.section-title--info {
    padding-top: 188px;
}

.info-size {
    width: 250px;
}

.info {
    padding-top: 69px;
    font-size: 0.9rem;
    line-height: 1.2rem;
}

.appointment-button {
    padding-top: 51px;
    padding-bottom: 235px;
}

.appointment a {
    text-decoration: none;
    color: white;
}

.appointment {
    background-color: rgba(245, 106, 86, 1);
    border: 1px solid transparent;
    color: white;
    padding: 15px 20px;
    transition: 1s;
    cursor: pointer;
}

.appointment:hover {
    background-color: rgba(202, 41, 19, 1);
}

.service-wrapper {
    position: relative;
}

.service-info-wrapper {

    padding-top: 38px;
    padding-bottom: 93px;
}

.section-title--service {
    padding-top: 57px;
}

.services {
    display: inline-block;
    width: 671px;
    text-align: right;
}

.service {
    width: 220px;
    display: inline-block;
    word-wrap: break-word;
}

.service h1 {
    padding-top: 57px;
    font-size: 1.1rem;
    color: rgb(55, 55, 55);
}

.service p {
    padding-top: 30px;
    color: rgb(55, 55, 55);
}

.gt {
    display: inline-block;
    vertical-align: top;
    margin-right: 22px;
    color: #03A9F4;
    font-weight: bold;
    padding-top: 57px;
}

.gt-wrapper {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    padding-left: 66px;
    padding-right: 12px;
}

.about-clinic-wrapper {
    background-image: url("https://static.wixstatic.com/media/84770f_26b5d1b44900477d83db240758ae827c.png/v1/fill/w_1863,h_589,al_c,usm_0.66_1.00_0.01/84770f_26b5d1b44900477d83db240758ae827c.png");
    color: white;
    padding-top: 126px;
    padding-bottom: 120px;
}

.about-clinic-text-wrapper {
    display: inline-block;
    width: 671px;
}

.about-clinic-text p {
    font-size: 0.9rem;
    padding-bottom: 32px;
    padding-left: 60px;
    line-height: 1.3rem;
}

.contact-wrapper {
    position: relative;
    padding-top: 111px;
    padding-bottom: 141px;
    background-color: rgba(207, 207, 207, 0.5);
}

.contact-wrapper .background {
    background-color: white;
}

.form-message {
    display: inline-block;
}

.data {
    display: inline-block;
    vertical-align: top;
}

.send-button {
    text-align: right;
}

.section-title {
    width: 281px;
    vertical-align: top;
    font-weight: bold;
    font-size: 2.2rem;
    display: inline-block;
    position: relative;
    z-index: 2;
}

.details-wrapper {
    display: inline-block;
    width: 671px;

}

.address-wrapper {
    padding-bottom: 50px;
}

.address {
    border-right: 1px solid #c1baba;
    padding-left: 57px;
    padding-right: 47px;
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
}

.address-wrapper p {
    padding-bottom: 40px;
    line-height: 1.4rem;
}

.hours {
    padding-left: 62px;
    padding-right: 62px;
    font-weight: bold;
    display: inline-block;
}

.contact-wrapper h1 {
    padding: 30px 30px 30px 57px;
}

input[type="text"], input[type="email"] {
    padding: 6px 0 7px 6px;
    margin-bottom: 6px;
    border: transparent;
}

textarea {
    padding: 6px 11px 0 6px;
    margin-left: 2px;
    border: transparent;
}

.form-personal-details {
    padding-left: 57px;
}

.send-button .appointment {
    padding: 10px 12px;
}

#map {
    width: 597px;
    height: 197px;
    border: 2px solid white;
}

.map-wrapper {
    padding-left: 57px;
    padding-bottom: 76px;
}

footer {
    position: relative;
}

.bottom {
    text-align: center;
    background-color: rgb(0, 153, 255);
    color: white;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 2;
}

.bottom a {
    text-decoration: none;
    color: white;
}

.fa {
    display: block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 3.1rem;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.text {
    font-size: 1.2rem;
    padding-bottom: 10px;
}

/*book-now-page*/
.container--book-now {
    padding-top: 170px;
    padding-bottom: 100px;
}

.section-title--book-now {
    padding-bottom: 70px;
}

.offers-wrapper {
    text-align: right;
    padding-top: 64px;
    padding-bottom: 64px;
    border-top: 1px solid grey;
}

.offer {
    display: inline-block;
    float: left;
    font-size: 1.3rem;
    padding-top: 7px;
    color: rgb(0, 153, 255);
    cursor: pointer
}

.price {
    display: inline-block;

}

.appointment--book-now {
    display: inline-block;
    margin-left: 200px;
    font-size: 1.1rem;
    padding: 6px 20px;
}

.information {
    padding-bottom: 31px;
    padding-right: 149px;
    word-wrap: break-word;
    display: none;
}

.sign {
    display: inline-block;
}

.sign .fa {
    font-size: 1.7rem;
    opacity: 1;
}

.sign-up {
    transform: rotate(180deg);
}

/*schedule page*/
.section-title-wrapper {
    padding-top: 170px;
    display: none;
}

.container--schedule h1,
.form-container h1 {
    font-weight: normal;
    font-size: 1.3rem;
    padding-top: 25px;
    padding-bottom: 42px;
}

i.fa.fa-angle-left {
    display: inline-block;
    color: #03A9F4;
    font-size: 2.3rem;
    cursor: pointer;
}

.container--schedule {
    margin-bottom: 100px;
    display: none;

}

.options a {
    vertical-align: super;
    padding-left: 10px;
    color: #03A9F4;
    cursor: pointer;
}

i.fa.fa-clock-o {
    color: #03A9F4;
    font-size: 1.8rem;
    font-weight: normal;
    cursor: pointer;
    display: inline-block;
    padding-bottom: 33px;
}

.underline:hover {
    text-decoration: underline;
}

/*form page*/
.form-container {
    display: none;
}

#personal-details {
    display: inline-block;
    margin-right: 30px;
}

.form-container span {
    display: inline-block;
    color: #03A9F4;
    margin-bottom: 100px;
}

input[type="text"],
input[type="email"],
textarea {
    background-color: rgba(221, 221, 221, 0.8);
    margin-bottom: 29px;
    font-size: 1.3rem;
}

input:invalid {
    border: 1px solid red;
}

input:focus,
textarea:focus {
    border: 1px solid #03A9F4;
}

#personal-details p {
    color: dimgrey;
}

#personal-details .required p::before {
    content: '*';
}

.form-last-step {
    display: inline-block;
    vertical-align: top;
    margin-left: 45px;
    border: 1px solid black;
}

.form-last-step-title {
    font-size: 1.3rem;
    padding: 30px 58px 30px 30px;
}

.form-last-step-price {
    padding-bottom: 24px;
    margin-bottom: 32px;
    margin-left: 30px;
    margin-right: 34px;
    border-bottom: 1px solid black;
}

.form-last-step-date {
    margin-left: 30px;
    margin-bottom: 37px;
    display: inline-block;
}

.form-last-step-hour {
    display: inline-block;
}

#personal-details label p {
    margin-bottom: 10px;
}

.appointment--form-last-step {
    padding: 10px 80px;
    margin-left: 30px;
    margin-bottom: 34px;
    margin-right: 30px;
    font-size: 1.2rem;
}

.last-step {
    display: inline-block;
    vertical-align: top;
    margin-left: 45px;
    margin-top: 125px;
    border: 1px solid black;
}

.last-step-title {
    font-size: 1.3rem;
    padding: 30px 58px 30px 30px;
}

.last-step-price {
    padding-bottom: 24px;
    margin-bottom: 32px;
    margin-left: 30px;
    margin-right: 34px;
    border-bottom: 1px solid black;
}

.last-step-date {
    margin-left: 30px;
    margin-bottom: 37px;
    display: inline-block;
}

.last-step-hour {
    display: inline-block;
}

.appointment--last-step {
    padding: 10px 80px;
    margin-left: 30px;
    margin-bottom: 34px;
    margin-right: 30px;
    font-size: 1.2rem;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.calendar-wrapper {
    display: inline-block;
}

.morning,
.afternoon,
.evening {
    display: inline-block;
    vertical-align: top;
    margin-right: 50px;
    margin-bottom: 15px;
    text-align: center;
}

.no-available-hours .morning,
.no-available-hours .afternoon,
.no-available-hours .evening {
    margin-right: 0;
}

.hour {
    padding: 15px 50px;
    border: 1px solid black;
    margin-bottom: 14px;
    cursor: pointer;
}

.appointment-hours .hour:hover {
    box-shadow:inset 0 0  0 3px red;
    border-color: red;
    color: red;
}

.hour--no-available {
    border: none;
    cursor: text;
    padding: 15px 38px;
}

.hour-border {
    box-shadow:inset 0 0  0 3px red;
    border-color: red;
    color: red;
}

.appointment-hours span,
.no-available-hours span {
    margin-bottom: 15px;
    margin-top: 40px;
    display: block;
}

.appointment-hours,
.no-available-hours {
    display: none;
}

/*calendar*/
#calendar {
    position: relative;
}

.ui-datepicker th {
    padding: 30px;
}

.ui-datepicker td {
    border-right: 1px solid black;
    border-top: 1px solid black;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 40px;
    position: relative;
}

.ui-datepicker td::before {
    position: absolute;
    content: '';
    top: -2px;
    left: -2px;
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
}

td.ui-datepicker-current-day::before,
.ui-datepicker td:hover::before {
    border-color: red;
    z-index: 2;
}

.ui-datepicker td:first-child {
    border-left: 1px solid black;
}

table {
    border-collapse: separate;
    border-bottom: 1px solid black;
}

.ui-state-disabled td {
    color: darkgrey;
}

.ui-datepicker-title {
    display: inline-block;
}

a.ui-datepicker-prev.ui-corner-all,
a.ui-datepicker-next.ui-corner-all {
    padding: 2px 10px;
    border: 1px solid black;
    font-size: 1.2rem;
    cursor: pointer;
}

a.ui-datepicker-prev.ui-corner-all {
    border-right: transparent;
}

a.ui-datepicker-prev.ui-corner-all:hover,
a.ui-datepicker-next.ui-corner-all:hover {
    background-color: black;
    color: white;
}

a.ui-datepicker-prev.ui-corner-all {
    position: absolute;
    left: calc(50% - 171px);
}

a.ui-datepicker-next.ui-corner-all {
    position: absolute;
    left: calc(50% - 140px);
}

.ui-datepicker-calendar .ui-state-active {
    color: red;

}


.ui-datepicker td a,
.ui-datepicker td span {
    padding-left: 10px;
    padding-right: 38px;
    padding-bottom: 31px;
}

span.ui-state-default {
    color: darkgrey;
}

a.ui-state-default {
    color: black;
    text-decoration: none;
}

.ui-datepicker-today a {
    color: red;
    text-decoration: underline;
}

.ui-datepicker-week-end a {
    color: darkgrey;
}

.ui-datepicker-buttonpane {
    display: inline-block;
    position: absolute;
    left: calc(50% - 69px);
    top: -2px;
    background-color: white;
    vertical-align: top;
}

button.ui-datepicker-current {
    background: none;
    border: 1px solid black;
    font-size: 0.9rem;
    padding: 5px 10px;
}

span.ui-datepicker-month,
span.ui-datepicker-year {
    display: inline-block;
}

.weekly-view-container {
    color: red;
    margin-left: calc(50% - 25px);
}

.weekly-view-container i.fa.fa-angle-up,
.weekly-view-container i.fa.fa-angle-down {
    display: inline-block;
    font-size: 1.3rem;

}

.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all {
    position: relative;
}

.weekly-view {
    font-size: 0.9rem;
    display: inline-block;
    cursor: pointer;
    padding: 49px 3px 20px 0;
}

.invisible {
    display: none;
}

